In [12]:
from sqlalchemy import create_engine
import pandas as pd
import os
import time

In [13]:
engine = create_engine('postgresql://user:admin@192.168.122.60:54320/postgres')

In [14]:
# Read from source
df = pd.read_sql('select * from public.factinternetsales',engine)
df.head()

,productkey,customerkey,salesterritorykey,salesordernumber,totalproductcost,salesamount
0,310,21768,6,SO43697,2171.0,3578.0
1,346,28389,7,SO43698,1912.0,4000.0
2,346,25863,1,SO43699,1912.0,2000.0
3,336,14501,4,SO43700,413.0,3000.0
4,346,11003,9,SO43701,1912.0,1222.0

In [15]:
# Insert data per 1

for index, row in df.head(4).iterrows():
    mod = pd.DataFrame(row.to_frame().T)
    mod.to_sql('factinternetsales_streaming',engine,if_exists='append',index=False)
    print("Row Inserted" + mod.salesordernumber.astype(str) + ' ' + mod.salesamount.astype(str))
    time.sleep(3)

0    Row InsertedSO43697 3578.0
dtype: object
1    Row InsertedSO43698 4000.0
dtype: object
2    Row InsertedSO43699 2000.0
dtype: object
3    Row InsertedSO43700 3000.0
dtype: object

In [22]:
# df = pd.DataFrame({

#     'productkey' : [310,346,346,336,346],
#     'customerkey' : [21768,28389,25863,14501,11003],
#     'salesterritorykey' : [6,7,1,4,9],
#     'salesordernumber' :['SO43697','SO43698','SO43699','SO43700','SO43701']	,
#     'totalproductcost' : [2171,1912,1912,413,1912]	,
#     'salesamount' : [3578,4000,2000,3000,1222]

# })

# df.to_csv('transaction_sample_one.csv')